.header {
    
    text-align: center;
    text-emphasis-color: cornsilk;
    font-size: 55em;
    background-color: rgb(96, 96, 232); 
    height: 250px;

    
    
    


    
}
p {
    font-size: medium;
    text-align: center;
}